<div class="container mt-3">
  <div class="row">
    <div class="col-lg-3">
      <h2>User info</h2>
        <%= render 'users/info', user: current_user %>
      <h2>New book</h2>
        <%= render 'form', book: @newbook %>
    </div>
    <div class="col-lg-8 offset-lg-1">
      <h2>Book detail</h2>
      <table class="table">
          <tr>
            <td>
              <%= link_to user_path(@book.user.id) do %>
                <%= attachment_image_tag @book.user, :myprofile_image, fallback: "no_image.jpg", size: "50x50" %>
                <%= @book.user.name %>
              <% end %>
            </td>
            <td>
              <%= link_to book_path(@book.id) do %>
                <%= @book.title %></td>
              <% end %>
            </td>
            <td><%= @book.body %></td>
            <td>
              <!--編集画面へのリンク-->
              <%= link_to "Edit", edit_book_path(@book), class: "btn btn-success" %>
            </td>
            <td>
              <!--削除リンク-->
              <%= link_to "Destroy", book_path(@book), class: "btn btn-danger", method: :delete, data: { confirm: '本当に削除しますか？' } %>
            </td>
          </tr>
      </table>
    </div>
  </div>
</div>