<!DOCTYPE html>
<html>
  <head>
    <title>Bookers3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  </head>

  <body>
    <!--ヘッダー-->
    <header>
    <!--ナビゲーション-->
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <div class="container">
        <a class="navbar-brand text-light" href="/" >Bookers</a>
        <!--jQuery idを指定-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!--idを付与-->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
          <!--ログイン後-->
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "Home", user_path(current_user.id), class: "fas fa-home nav-link text-light" %>
            </li>
            <li class="nav-item">
              <%= link_to "Users", users_path, class: "fas fa-users nav-link text-light" %>
            </li>
            <li class="nav-item">
              <%= link_to "Books", books_path, class: "fas fa-book-open nav-link text-light" %>
            </li>
            <li class="nav-item">
              <%= link_to "log out", destroy_user_session_path, method: :delete, data: { confirm: '本当にログアウトしますか？' }, class: "fas fa-sign-out-alt nav-link text-light" %>
            </li>
          <!--ログイン前-->
          <% else %>
            <li class="nav-item">
              <%= link_to "Home", root_path, class: "fas fa-home nav-link text-light" %>
            </li>
            <li class="nav-item">
              <%= link_to "About", about_path, class: "fas fa-link nav-link text-light" %>
            </li>
            <li class="nav-item">
              <%= link_to "sign up", new_user_registration_path, class: "fas fa-user-plus nav-link text-light" %>
            </li>
            <li class="nav-item">
              <%= link_to "log in", new_user_session_path, class: "fas fa-sign-in-alt nav-link text-light" %>
            </li>
          <% end %>
          </ul>
        </div>
      </div>
    </nav>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
  <!--フッター-->
  <footer class="p-4">
    <div class="container">
  	  <div class="row">
  	    <!--要素の中央寄せ-->
    	  <div class="mx-auto">
    		<p>CopyRight Infratop.inc
    		</p>
    	  </div>
      </div>
    </div>
  </footer>
</html>
